 <header><h1 id="h1">Burger!</h1></header>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" id="cards" >
                        <div class="card-header">
                          <h5> Available!</h5>
                        </div>
                        <ul class="list-group list-group-flush" id ="list">
                          {{#each burgers}}
                            {{#unless devoured}}
                              <li class="list-group-item" id ="list">{{> burgers/burger-block devoured=true}}</li>
                            {{/unless}}
                          {{/each}}
                        </ul>
                      </div>
                </div> 
                <div id="input" class="col-md-4">
                    <div class="card" id="cards">
                       
                            <div class="card-body">
                                <form class="create-form">
                                    <p>place your order</p>
                                        <div class="input-group">
                                            <div class="col">
                                                <input type="text" id="Bg" class="form-control" placeholder="Enter Burger">
                                            </div>
                                        </div>
                                        <div>
                                           <button type="submit" class="btn btn-danger" >Submit</button>
                                        </div>
                                </form>
                            </div>
                    </div>
                </div> 
                <div class="col-md-4">
                <div class="card" id="cards" >
                    <div class="card-header">
                      <h5>Devoured!</h5>
                    </div>
                        <i class="fas fa-trash-alt"></i>
                    <ul class="list-group list-group-flush">
                  
                        {{#each burgers}}
                            {{#if devoured}}
                                <li class="list-group-item" id ="list">{{> burgers/burger-block devoured=false}}</li>
                            {{/if}}
                        {{/each}}
                    </ul>
                  </div>
                </div>
            </div>
        </div>
