<h1>Feed Me !!!</h1>

<h2> devoured burgers !</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}

  {{/unless}}
  {{/each}}
</ul>

<h2>burgers that are ready!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form id="create-form">

  <div class="form-group">--                                                                  
    <label for="burgers">burger:</label>
    <input type="text" id="burgers" name="name">
  </div>



  <button type="submit">Add burger</button>
</form>